/*ТЕГИ*/
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width:100%;
}

/*---- HEADER ----*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 115px;
  height: 21px;
  flex-shrink: 0;
  margin-right: 76px;
}
.logo-studio-header {
  color: #2e2f42;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
header .container {
  width: 1158px;
  height: 72px;
  margin:0 auto;
  padding: 0 15px;
  border-bottom: 1px solid #e7e9fc;
}
.header-nav-address {
  display:flex;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
  gap: 332px;
}
.header-nav {
  display: flex;
  width: 494px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  margin-right: 0;
}
.header-link-tree {
  width: 261px;
  height: 24px;
  display:flex;
  align-items:start;
  gap: 40px;
  margin-left: 0;
}
.header-nav-address {
  display:flex;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
  gap: 332px;
}
.header-address-contakt {
  font-style: normal;
  width: 344px;
  height: 24px;
  display: inline-flex;
  align-items: flex-start;
  padding: 0;
}
.header-address-tree {
  width: auto;
  height: auto;
  display: inline-flex;
  gap: 40px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.header-contakt {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.header-contakt:hover,
.header-contakt:focus {
  color: #404bbf;
}

/*-- 1 HERO ---*/

.section-hero {
  background-color: #2e2f42;
}
.section-hero .container {
  width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top:188px;
  padding-bottom:188px;
  align-items: center;
}

.hero-tittle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  
  letter-spacing: 1.12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  padding-bottom: 0;
  max-width: 496px;
}
.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: 636px;
  margin-top: 48px;
  align-items: flex-start;
  border-radius: 4px;
  border: 0;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.hero-button:active {
  color: #ffffff;
  background-color: #404bbf;
}
/*-- 2 FEATURE --*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.section-feature .container {
  width: 1128px;
  height: 104px;
  margin-left: auto;
  margin-right: auto;
  padding-top:120px;
  padding-bottom:120px;
}
.feature-tree {
  display: flex;
  gap: 24px;
}
.feature-cards{
  display: block;
  width: calc((100% - 72px) / 4);
}
.tittls-feature {
 
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.features-team {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}

/*-- 3 OUR TEAM ---*/

.our-team {
  background-color: #f4f4fd;
}
.our-team .container {
  width: 1128px;
  height: 672px;
  margin-left: auto;
  margin-right: auto;
  padding-top:120px;
  padding-bottom:120px;
}
.people-card {
  display: flex;
  gap: 24px;
}
.team-people {
  background-color: #ffffff;
  display: block;
  width: calc((100% - 72px) / 4);
  height:380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
   0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  padding-bottom: 0px;
  padding-bottom: 32px;
}
  .name-profession {
    padding: 32px 0;
  }
.name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.profession{
  color:#434455;
letter-spacing: 0.32px;
 text-align:center;
}


/*-- 4 PORTFOLIO - все классы с предыдущей секции !!!--*/


.portfolio .container {
  width: 1128px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:120px;
  margin-top:120px;
}
.tittle-team-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top:0;
  margin-bottom: 72px;
}
.cards{
  display:flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
}
.portfolio-card {
  background-color: #ffffff;
  width:calc((100% - 48px)/3);
  height:420px;
  border:1px solid #E7E9FC; 
}
.card-product {
 padding:32px 16px 32px 16px;
}
.name-product {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align:start;
}
.department {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}
/*--- FOOTER --*/
.footer-page {
  background-color: #2e2f42;
  color: #ffffff;
}
.footer-page .container {
  width: 1158px;
  height: 312px;
  margin-left: auto;
  margin-right: auto;
  padding-top:100px;
  padding-bottom:100px;
}

.footer-logo {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 112px;
  height: 21px;
  margin-bottom: 16px;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
